<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find fyp_quadruped)/config/control.yaml" command="load"/>

  <!-- load the controllers -->

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/Quadruped" args="shoulder_joint_lf_position_controller shoulder_joint_rf_position_controller shoulder_joint_lb_position_controller shoulder_joint_rb_position_controller elbow_joint_lf_position_controller elbow_joint_rf_position_controller elbow_joint_lb_position_controller elbow_joint_rb_position_controller knee_joint_lf_position_controller knee_joint_rf_position_controller knee_joint_lb_position_controller knee_joint_rb_position_controller ankle_joint_lf_position_controller ankle_joint_rf_position_controller ankle_joint_lb_position_controller ankle_joint_rb_position_controller joint_state_controller --shutdown-timeout 3"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/Quadruped/joint_states" />
  </node>

</launch>
