<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch" >
       <arg name="paused" value="false"/>
    </include>
    <include file="$(find FYP2020-Swarm-Quadruped)/launch/control.launch"/>
    <include file="$(find FYP2020-Swarm-Quadruped)/launch/spawn.launch"/>
</launch> 

