  <?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch" >
      <arg name="paused" value="false"/>
      <arg name="use_sim_time" default="true"/>
      <arg name="gui" default="true"/>
      <arg name="debug" default="false"/>
    </include>

    <arg name="model" default="$(find fyp_quadruped)/urdf/model_with_meshes.xacro"/>

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
	 args="-param robot_description -urdf -model fyp_quadruped"/>

    <!--node type="rviz" name="rviz" pkg="rviz" args="-d $(find fyp_quadruped)/rviz/urdf_viewer.rviz" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/!-->

</launch> 
